html,
body,
header,
div,
input,
button,
a,
p {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: #f7f8fc;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 91.7%;
    height: 100%;
    margin-top: 14px;
}

.top1 {
    background: url(../img/sheet.png);
}

.top2 {
    margin-top: 20px;
    background: url(../img/record.png);
}

.top3 {
    margin-top: 20px;
    background: url(../img/mRecord.png);
}

.babyNum{
    display: none;
}

.top4 {
    margin-top: 20px;
    background: url(../img/pregnant.png);
}

.out{
    display: none;
}

.btn {
    width: 100%;
    height: 7rem;
    box-shadow: 0px 2px 5px #D3D3D3;
    border-radius: 10px;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordBox {
    width: 81%;
    height: 3.5rem;
    position: relative;
    //  background-color: darkolivegreen;
}

.wd1 {
    font-size: 1.31rem;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    font-weight: 600;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //  background-color: red;
}

.wd2 {
    margin-top: 0.25rem;
    font-size: 0.975rem;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //  background-color: red;
}

.wd11{
    @extend .wd1;
}

.wd22{
    @extend .wd2;
}
